/* FRONT-PAGE FOOTER */

footer {
    height: 15vh;
    width: 100%;
    background-color: $turquoise;
    z-index: 10;
    text-align: center;
    margin-top: 0;
}

footer .left {
    float: left;
    width: 50%;
    height: 100%;
}

footer .right {
    float: right;
    width: 50%;
    height: 100%;
}


@media (max-width: $breakpoint-bootstrap) { 
    footer {
        background-color: $pink;
    }
}

/* END OF FRONT-PAGE FOOTER */