@media (max-width: $breakpoint-bootstrap) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar {
        padding-left: 20px;
        padding-right: 20px;
        z-index: 3;
    }
    body .navbar-fixed-top {
        margin-bottom: 0;
    }
    .parallax .title {
        color: $red;
        font-size: 65px;
    }
    .parallax .front-page-footer {
        background-color: $red;
    }
}

.menu-item {
    font-family: $font;
    font-size: 25px;
    padding: 30px;
    float: left;
    list-style: none;
    a {
        text-decoration: none;
    }
}

.current_page_item {
    color: $white;
    background-color: $black;
}