@media (max-width: $breakpoint-bootstrap) {
    #body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar {
        padding-left: 20px;
        padding-right: 20px;
        z-index: 3;
    }
    #body .navbar-fixed-top {
        margin-bottom: 0;
    }
    .parallax .title {
        color: $red;
        font-size: 65px;
    }
    .parallax .front-page-footer {
        background-color: $red;
    }
}