/* GLOBAL */

body,
html {
    max-width: 1920px;
    min-width: 350px;
    margin: 0;
    padding: 0;
}

body {
    font: 100% / 1.5 Arial;
    width: auto;
}

.container .row {
    margin-top: 100px;
}

/* END OF GLOBAL */